 body {
      background-color: #f8f9fa;
    }
    .search-bar {
      margin: 30px 0;
      text-align: center;

    }
    .search-bar {
  margin: 30px 0;
  text-align: center;
}

.btn {
      border-radius: 30px;
    } 
    
.search-input {
  padding: 12px 20px;              
  border: 2px solid #198754;
   box-shadow: 0 6px 12px rgba(25, 135, 84, 0.25);
  transition: all 0.3s ease;      
  font-size: 16px;
}

.search-input:focus {
  outline: none;                    
  border-color: #0d6efd; 
   box-shadow: 0 4px 6px rgba(0,0,0,0.1);         
}

.search-input::placeholder {
  color: #6c757d;                 
  font-weight: 500;
}

    .section-title {
      margin-top: 40px;
      margin-bottom: 20px;
      font-weight: 600;
      color: #343a40;
    }
    .course-card img {
      height: 200px;
      object-fit: cover;
    }
    .collapse-content {
      background-color: #fff;
      border-radius: 10px;
      padding: 25px;
      margin-top: 15px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    }